.description {

  &__heading {
    @include bold;
    margin: 0;
  }

  &--title {
    @include light-bold;
    color: $red;
    font-weight: 500;
    margin-bottom: 0;
  }

  &__list {
    @include display-row;
  }

  &__img {
    border-radius: 24px;
  }

  &--wrapper {
    margin-inline-start: 16px;
  }

  &__section {
    margin-top: 140px;
  }

}

.section--wrapper {
  display: flex;
  flex-direction: column;
  margin-left: calc(82px + 30px);
  margin-bottom: 109px;
}

.section--wrapper::before {
  content: '';
  display: block;
  background: $grey;
  background-image: url('../images/person4.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 82px;
  height: 82px;
  border-radius: 12px;
  position: relative;
  left: calc(calc(82px + 30px) * -1);
}

.section__span:nth-of-type(1) {
  @include bold;
  margin-block-start: -86px;
}

.section__span:nth-of-type(2) {
  @include light-bold;
}

@media (min-width: 800px) {

  .description {

    &--container {
      @include display-row;
    }

    &__header {
      flex-basis: calc(100% / 4)
    }

    &__heading {
      font-size: 36px;
      line-height: 54px;
    }

    &__list {
      flex-basis: 60%;
    }
  }

  .section--wrapper {
      flex-basis: 60%;
      margin-bottom: 129px;
    }

    .section__heading3 {
      width: 45%;
    }

  }

