:root {
  --based-value: 16px;
  --padding-inline: var(--based-value);
  --padding-block: var(--based-value);
  --margin-inline: var(--based-value);
  --margin-block: var(--based-value);
  --opacity: 1;
  --per-width: 100%;
  --fix-width: 100px;
  --auto-value: auto;
  --value: 0;
  --none-value: none;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  border-radius: 18px;
}

picture {
  margin: 0;
  padding: 0;
}

:root {
  --based-value: 16px;
  --padding-inline: var(--based-value);
  --padding-block: var(--based-value);
  --margin-inline: var(--based-value);
  --margin-block: var(--based-value);
  --opacity: 1;
  --per-width: 100%;
  --fix-width: 100px;
  --auto-value: auto;
  --value: 0;
  --none-value: none;
}

.header {
  margin-left: 16px;
  margin-right: 16px;
}

.header--container {
  width: --per-width;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__span--open--menu {
  color: transparent;
  background-image: url(../icons/menu.svg);
  background-repeat: no-repeat;
  position: absolute;
  right: -55px;
  top: 28px;
}

@media (min-width: 800px) {
  .header--container {
    max-width: 1114px;
    -webkit-margin-start: auto;
            margin-inline-start: auto;
    -webkit-margin-end: auto;
            margin-inline-end: auto;
  }
  .header__span--open--menu {
    background-image: var(--none-value);
  }
}

.main {
  -webkit-margin-start: 16px;
          margin-inline-start: 16px;
  -webkit-margin-end: 16px;
          margin-inline-end: 16px;
}

@media (min-width: 800px) {
  .main--container {
    max-width: 1114px;
    -webkit-margin-start: auto;
            margin-inline-start: auto;
    -webkit-margin-end: auto;
            margin-inline-end: auto;
  }
}

.masthead--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.masthead--wrapper, .masthead--wrapper--contents {
  -webkit-margin-start: 40px;
          margin-inline-start: 40px;
}

.masthead__heading, .masthead__heading3 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #333333;
}

.masthead--active {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #2D9CDB;
}

.masthead__paragraph {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #828282;
  margin-top: 24px;
}

.form__fieldset, .form__input, .form__submit {
  border-color: transparent;
}

.form--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form--wrapper, .form__input {
  background-color: #F2F2F2;
  color: #BDBDBD;
  padding-left: 21px;
}

.form--wrapper, .form__submit {
  border-radius: 12px;
}

.form__submit {
  background-color: #2D9CDB;
  padding-left: 28px;
  padding-top: 15px;
  padding-right: 28px;
  padding-bottom: 18px;
  color: #F2F2F2;
}

@media (min-width: 800px) {
  .masthead {
    margin-bottom: 200px;
  }
  .masthead--wrapper, .masthead--wrapper--contents {
    text-align: left;
    -webkit-margin-start: calc(277px - 150px);
            margin-inline-start: calc(277px - 150px);
  }
  .masthead--wrapper {
    max-width: 50%;
  }
  .masthead--wrapper--contents {
    max-width: 40%;
  }
  .masthead__heading, .masthead__heading3 {
    font-size: 48px;
    line-height: 72px;
  }
  .masthead--active {
    margin-top: 96px;
  }
}

body > input[type="checkbox"]:checked ~ header .nav {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.header__input {
  position: absolute;
  top: 35px;
  right: calc(var(--based-value) + 1);
  visibility: hidden;
}

body > [type="checkbox"]:checked ~ header label {
  position: absolute;
  z-index: 2;
  top: var(--value);
  right: var(--value);
  bottom: var(--value);
  left: var(--value);
  height: var(--per-width);
  width: var(--per-width);
}

body > input[type="checkbox"]:checked ~ main {
  z-index: 1;
}

.nav {
  padding: var(--based-value);
  background-color: #BDBDBD;
  position: absolute;
  z-index: 3;
  top: var(--value);
  left: var(--value);
  bottom: var(--value);
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-box-shadow: 0 0 6px #333333;
          box-shadow: 0 0 6px #333333;
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav__link {
  -webkit-text-decoration: var(--none-value);
          text-decoration: var(--none-value);
  color: #F2F2F2;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: var(--based-value);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: var(--based-value) var(--based-value) var(--based-value) calc(var(--based-value) * 4);
}

.nav__link:hover {
  color: #2D9CDB;
}

@media (min-width: 800px) {
  .nav {
    background-color: transparent;
    top: var(--auto-value);
    left: var(--auto-value);
    right: var(--auto-value);
    bottom: var(--auto-value);
    width: var(--auto-value);
    -webkit-box-shadow: var(--none-value);
            box-shadow: var(--none-value);
    -webkit-transform: var(--none-value);
            transform: var(--none-value);
    -webkit-transition: var(--none-value);
    transition: var(--none-value);
    display: contents;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav__link {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
    font-size: 20px;
  }
}

.features__heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #333333;
  margin-bottom: 92px;
}

.features__section {
  background: #FFFFFF;
  border-radius: 24px;
  margin: 16px;
  padding-top: 46px;
  padding-left: 34px;
  padding-right: 34px;
  padding-bottom: 46px;
}

.features__section:hover {
  -webkit-box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
          box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
}

.features__section:nth-of-type(2) {
  -webkit-box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
          box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
}

.features button {
  border-color: transparent;
  border-radius: 12px;
  padding-left: 13px;
  padding-top: 9px;
  padding-right: 13px;
  padding-bottom: 12px;
  color: #828282;
  font-weight: 500px;
}

.section__link {
  display: block;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  padding: 20px;
  margin-top: 49px;
  width: 67px;
  height: 67px;
  border-radius: 16px;
}

.section__link--edit {
  background-color: #2D9CDB;
  background-image: url("../icons/edit.svg");
}

.section__link--front-end {
  background-color: #27AE60;
  background-image: url("../icons/arrow-left.svg"), url("../icons/arrow-rigth.svg");
}

.section__link--back-end {
  background-color: #EB5757;
  background-image: url("../icons/list.svg");
}

.section__heading4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #333333;
}

.section--desc {
  color: #4F4F4F;
}

@media (min-width: 800px) {
  .features {
    margin-bottom: 150px;
  }
  .features--container {
    max-width: 1114px;
    -webkit-margin-start: auto;
            margin-inline-start: auto;
    -webkit-margin-end: auto;
            margin-inline-end: auto;
  }
  .features__heading {
    -webkit-margin-after: 42px;
            margin-block-end: 42px;
    width: calc(100% / 3);
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
  }
  .features--wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.designs__heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #333333;
}

.picture__span {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #828282;
}

.picture__heading {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #828282;
  margin-top: 24px;
  color: #333333;
}

.picture__heading {
  margin-top: 0;
}

@media (min-width: 800px) {
  .designs {
    margin-bottom: 150px;
  }
  .designs--wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .designs__heading {
    font-size: 36px;
    line-height: 54px;
    width: 45%;
  }
  .designs__link {
    text-align: end;
    -webkit-margin-before: -50px;
            margin-block-start: -50px;
  }
  .designs__picture {
    -ms-flex-preferred-size: calc(calc(100% / 2) - 16px);
        flex-basis: calc(calc(100% / 2) - 16px);
  }
  .designs__picture:nth-of-type(1), .designs__picture:nth-of-type(3) {
    margin-top: 155px;
  }
}

.description__heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #333333;
  margin: 0;
}

.description--title {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #828282;
  margin-top: 24px;
  color: #EB5757;
  font-weight: 500;
  margin-bottom: 0;
}

.description__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description__img {
  border-radius: 24px;
}

.description--wrapper {
  -webkit-margin-start: 16px;
          margin-inline-start: 16px;
}

.description__section {
  margin-top: 140px;
}

.section--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: calc(82px + 30px);
  margin-bottom: 109px;
}

.section--wrapper::before {
  content: '';
  display: block;
  background: #C4C4C4;
  background-image: url("../images/person4.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 82px;
  height: 82px;
  border-radius: 12px;
  position: relative;
  left: calc(calc(82px + 30px) * -1);
}

.section__span:nth-of-type(1) {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #333333;
  -webkit-margin-before: -86px;
          margin-block-start: -86px;
}

.section__span:nth-of-type(2) {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #828282;
  margin-top: 24px;
}

@media (min-width: 800px) {
  .description--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .description__header {
    -ms-flex-preferred-size: calc(100% / 4);
        flex-basis: calc(100% / 4);
  }
  .description__heading {
    font-size: 36px;
    line-height: 54px;
  }
  .description__list {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
  .section--wrapper {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    margin-bottom: 129px;
  }
  .section__heading3 {
    width: 45%;
  }
}

.footer {
  background-color: #100E1D;
  padding-left: 41px;
  padding-top: 36px;
}

.footer__link {
  font-size: 18px;
}

.footer__heading, .footer__link {
  color: #F2F2F2;
}

.footer__heading {
  font-weight: 800;
  font-size: 36px;
  line-height: 53px;
  margin-bottom: 0;
}

.footer__list--icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
}

.footer__link--icons {
  display: block;
  text-indent: -9999px;
  width: 48px;
}

.footer__item--icons {
  background-repeat: no-repeat;
}

.footer__item--icons:nth-of-type(1) {
  background-image: url("../icons/instagram.svg");
}

.footer__item--icons:nth-of-type(2) {
  background-image: url("../icons/linkedin.svg");
}

.footer__item--icons:nth-of-type(3) {
  background-image: url("../icons/twitter.svg");
}

.footer__copyright {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #A9A9A9;
  text-align: center;
  padding-bottom: 29px;
}

.form {
  margin-bottom: 133px;
}

.form__fieldset {
  padding: 0;
  margin: 0;
}

.form__label {
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  color: #828282;
}

@media (min-width: 800px) {
  .footer {
    padding-left: 0;
  }
  .footer--container {
    max-width: 1114px;
    -webkit-margin-start: auto;
            margin-inline-start: auto;
    -webkit-margin-end: auto;
            margin-inline-end: auto;
  }
  .footer--wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 113px;
  }
  .footer__heading {
    margin-top: 0;
  }
  .form {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=index.css.map */